In [1]:
print(2+3)

5

In [2]:
print("2+3")

2+3

In [3]:
num = 'abc'
print(type(num))

<class 'str'>

In [4]:
age = int(input("Enter the age: "))   # the default datatype for input() is string

Enter the age: 24

In [5]:
print(type(age))
print(age)

<class 'int'>
24

List - is seq of indexed hetrogeneous elements, seperated by comma, stored inside the square brackets

In [17]:
lst = "this is the first class for python"

In [18]:
type(lst)

str

In [5]:
# Program to check if the input num is armstrong or not.

num = int(input())
temp = num
digitcount = len(str(num))
ans = 0
while (temp > 0):
    lastDigit = temp % 10   
    ans += lastDigit ** digitcount
    temp = temp // 10

if ans == num:
    print("The num is Armstrong")
else:
    print("Not Armstrong")

0
The num is Armstrong

In [8]:
a = int(input("num 1: "))
b = int(input("num 2: "))
for i in range(a, b+1):
    if (i % 10 == 0):
        print(i)

num 1: 75
num 2: 110
80
90
100
110

'Mohandas Karamchand'

In [16]:
num1 = 4
num2 = 3
c = 3
num1 = num1 ** (num2 + c)
num1

4096

In [17]:
age = 21
print("Will turn 100 in", 2026+(100-age))

Will turn 100 in 2105